<button (click)="goBack()">go back</button>

<div class="container">
  <div class="col-md-12">
    <h1>User Todos</h1>
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th class="text-center">userId</th>
        <th class="text-center">id</th>
        <th class="text-center">Title</th>
        <th class="text-center">completed</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{ todo.userId }}</td>
        <td>{{ todo.id }}</td>
        <td>{{ todo.title }}</td>
        <td>{{ todo.completed }}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div><br>

<div class="container">
  <div class="col-md-12">
    <h1>User Posts</h1>
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th class="text-center">userId</th>
        <th class="text-center">id</th>
        <th class="text-center">Title</th>
        <th class="text-center">completed</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of posts">
        <td>{{ post.userId }}</td>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>



