<div class="container">
  <div class="col-md-12">
    <h1>User List</h1>
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Name</th>
        <th class="text-center"></th>
        <th class="text-center"></th>
        just testing
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td><a routerLink="../../users/{{user.id}}/posts-todos">
          <span class="badge">{{user.id}}</span>
        </a></td>
        <td>{{ user.name }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="openEditModal(user)">Edit</button>
        </td>
        <td>
          <button style="background-color: red; color: #FFFFFF;" type="button" class="btn btn-primary" (click)="openDeleteModal(user)">Delete</button>
        </td>
      </tr>

      </tbody>
    </table>
    <button style="background-color: green" type="button" class="btn btn-primary" (click)="openCreateModal()">Create</button>
  </div>
</div>



